/GeMRTOS/DE10Nano/.qsys_edit/*
/GeMRTOS/DE10Nano/db/*
/GeMRTOS/DE10Nano/incremental_db/*
/GeMRTOS/DE10Nano/output_files/*
/GeMRTOS/DE10Nano/software/hellogemrtos_bsp/*
/GeMRTOS/DE10Nano/software/spl_bsp/*
/GeMRTOS/DE10Nano/soc_system/synthesis/*
/GeMRTOS/DE10Nano/soc_system/*.xml
/GeMRTOS/DE10Nano/soc_system/*.bsf
/GeMRTOS/DE10Nano/hps_isw_handoff/*
grtos_bsp_create.sh
*.qws
*.cmp
*.rpt
*.html
*.sopcinfo
*_dump.txt
*_summary.csv
/GeMRTOS/DE10Nano/software/script/u-boot.scr
/GeMRTOS/DE10Nano/u-boot.scr
/GeMRTOS/DE10Nano/*.h
/GeMRTOS/DE10Nano/*.rbf
/GeMRTOS/DE10Nano/*.dtb
/GeMRTOS/DE10Nano/*.dts
